* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0.4rem;
}

::-webkit-scrollbar-thumb {
  background-color: #40c057;
}

body {
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}
